<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="temp.css" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <div class="section">
        <h2>Projects</h2>
        {{#projects}}
        <div class="project">
            <h3>{{name}}</h3>
            <p><strong>Summary:</strong> {{summary}}</p>
            <p><strong>GitHub:</strong> <a href="{{githubLink}}" target="_blank">{{githubLink}}</a></p>
            <p><strong>Live Demo:</strong> <a href="{{deployedLink}}" target="_blank">{{deployedLink}}</a></p>
        </div>
        {{/projects}}
    </div>
    
</body>
</html>