<!DOCTYPE html>
<html>
<head>
<title>Joe Bloggs - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="template-2.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		
		<div id="titleDiv">
			<h1 id="name" class="quickFade delayTwo"></h1>
			<h2 id="designation" class="quickFade delayThree"></h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li id="email"></li>
				<li id="telephone"></li>
				<li id="linkedin"></li>
			</ul>
		</div>
		<!-- <div class="clear"></div> -->
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section id="summaryDiv">
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div id="summary" class="sectionContent summary">
				</div>
			<!-- <div class="clear"></div> -->
		</section>
		
		
		<section id="work-exp-div">
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div id="work-experience-list" class="sectionContent">
				
			</div>
			<!-- <div class="clear"></div> -->
		</section>
		<section id="internship">
			<div class="sectionTitle">
				<h1>Internship</h1>
			</div>
			
			<div class="sectionContent" id="internship-experience-list">
				
			</div>
			<!-- <div class="clear"></div> -->
		</section>
		
		<section id="education">
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent" id="education-list">
				
			</div>
			<!-- <div class="clear"></div> -->
		</section>
		
		<section id="projects">
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>
			
			<div class="sectionContent" id="projects-list">
				
			</div>
			<!-- <div class="clear"></div> -->
		</section>
		
		<section class="pg-skill">
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul id="skills" class="keySkills">
				</ul>
			</div>
			<!-- <div class="clear"></div> -->
		</section>

		<section class="pg-softwares">
			<div class="sectionTitle">
				<h1>Softwares</h1>
			</div>
			
			<div class="sectionContent">
				<ul id="softwareList" class="softwareList">

				</ul>
			</div>
			<!-- <div class="clear"></div> -->
		</section>

		<section class="pg-languages">
			<div class="sectionTitle">
				<h1>Languages Known</h1>
			</div>
			
			<div class="sectionContent">
				<ul id="languages" class="pg-list">
				</ul>
			</div>
			<!-- <div class="clear"></div> -->
		</section>

		<section class="pg-certificates">
			<div class="sectionTitle">
				<h1>Certifications</h1>
			</div>
			
			<div class="sectionContent">
				<ul id="certificates" class="pg-list">
				</ul>
			</div>
			<!-- <div class="clear"></div> -->
		</section>
		<section class="pg-accomplishments">
			<div class="sectionTitle">
				<h1>Accomplishments</h1>
			</div>
			
			<div class="sectionContent">
				<ul id="accomplishments" class="pg-list">
				</ul>
			</div>
			<!-- <div class="clear"></div> -->
		</section>
		<section class="pg-interests">
			<div class="sectionTitle">
				<h1>Interests</h1>
			</div>
			
			<div class="sectionContent">
				<ul id="interests" class="pg-list">
				</ul>
			</div>
			<!-- <div class="clear"></div> -->
		</section>

		<section class="pg-volunteering">
			<div class="sectionTitle">
				<h1>Volunteering</h1>
			</div>
			
			<div class="sectionContent">
				<ul id="volunteering" class="pg-list">
					
				</ul>
			</div>
			<!-- <div class="clear"></div> -->
		</section>

		<section id="socialDiv">
				<div class="sectionTitle">
					<h1>Social Links</h1>
				</div>
				
				<div class="sectionContent socialLinks">
					<div id="linkedinDiv"><h2>LinkedIn</h2> <p id="linkedin-link"></p></div>
					<div id="githubDiv"><h2>github</h2> <p id="github-link"></p></div>
					<div id="portfolioDiv"><h2>portfolio</h2> <p id="portfolio-link"></p></div>
					<div id="twitterDiv"><h2>twitter</h2> <p id="twitter-link"></p></div>
					<div id="instagramDiv"><h2>instagram</h2> <p id="instagram-link"></p></div>
					<div id="facebookDiv"><h2>facebook</h2> <p id="facebook-link"></p></div>
				</div>
			<!-- <div class="clear"></div> -->
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<script src="template-2.js"></script>
</body>
</html>