<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/resume-template.css" />
    <style>
        
    </style>
</head>
<body>
    
    <div id="inner-nav"></div>
    <div id="container">
        <div id="profile">
            <div id="image">
                <img id="profile-photo" src="http://mnnit.ac.in/ss/images/shashank.jpg" alt="Profile-Image">
                <a href="#"><i class="fas fa-pen stroke-transparent"></i></a>
            </div>
            <p id="name"></p>
            <span id="email"></span>
            <div id="social-links">
                <a id="facebook" href="#"><i class="fab fa-facebook-f stroke-transparent"></i><br><span id="facebook-link"></span></a>
                <a id="instagram" href="#"><i class="fab fa-instagram stroke-transparent"></i><br><span id="instagram-link"></span></a>
                <a id="twitter"><i class="fab fa-twitter stroke-transparent"></i><br><span id="twitter-link"></span></a>
                <a id="linkedin"><i class="fab fa-linkedin-in stroke-transparent"></i><br><span id="linkedin-link"></span></a>
                <a id="github"><i class="fab fa-github stroke-transparent"></i><br><span id="github-link"></span></a>
                <a id="portfolio"><i class="fab fa-globe stroke-transparent"></i><br><span id="portfolio-link"></span></a>
            </div>
            <hr width="100%">
            <div id="about">
                <p style="display:inline;">About</p>
            </div>
            <p id="address"></p>
            <p id="more-about"></p>
            <p id="dob"></p>
            <p id="telephone"></p>

            <div class="detail-section pg-skill no-break">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <span class="sub-heading">skills</span>
                </div>
                <div class="detail-content">
                    <ul id="skills" class="pg-list">
                        {{#skills}}<li><span>{{name}}</span><div class="sb-skeleton"><div class="skillbar" style="--pgbar-length: {{level}}%"></div></div></li>{{/skills}}
                    </ul>
                </div>
            </div>
            <div class="detail-section pg-language no-break">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <span class="sub-heading">Languages</span>
                </div>
                <div class="detail-content">
                    <ul class="pg-list">
                    
                        {{#languages}}
                        <li>
                            <span>{{language}} - {{level}}</span>
                        </li>
                        {{/languages}}
                    </ul>
                </div>
            </div>
            <div class="detail-section pg-certificate no-break">
                <div class="detail-title">
                    <div class="title-icon">
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <span class="sub-heading">Certifications</span>
                </div>
                <div class="detail-content">
                    <ul class="pg-list">
                        {{#certifications}}
                        <li>
                            <span>{{.}}</span>
                        </li>
                        {{/certifications}}
                    </ul>
                </div>
            </div>
            <div class="detail-section no-break">
                <div class="detail-title">
                    <span class="sub-heading">Softwares</span>
                </div>
                <div class="detail-content">
                    {{#softwareInfo}}
                    <li><span>{{name}}</span><div class="rating-container" style="--rating: {{rating}};"></div></li>
                    {{/softwareInfo}}
                </div>

            </div>
            <div class="detail-section no-break">
                <div class="detail-title">
                    <span class="sub-heading">Interests</span>
                </div>
                <div class="detail-content">
                    {{#interests}}
                    <li><span>{{.}}</span></li>
                    {{/interests}}
                </div>

            </div>
            

        </div>
        <div id="info-cards no-break">
            <div class="card work-exp">
                <p><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Work Experience</p>
                <ul>
                    {{#workExperience}}
                    <li class="no-break">
                        <p class="tags">{{company}}<br><span><strong>{{location}} | </strong><span>{{industry}}, {{totalCompanyExperience}} years</span></span></p>
                        <ul>
                            {{#roles}}
                            <li>
                                <strong>{{title}}</strong> ({{jobType}}, {{jobMode}}) - {{startDate}} to {{endDate}}
                                <p>{{description}}</p>
                                <p>CTC: ₹{{ctc}} P.A.</p>
                                <p>Notice Period: {{noticePeriod}}</p>
                                <p>Team Size: {{teamSize}}</p>
                            </li>
                            {{/roles}}
                        </ul>
                    </li>
                    {{/workExperience}}
                </ul>
            </div>
            <div class= "card internship no-break">
                <p><i class="fas fa-briefcase stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Internship</p>
                <ul>
                    {{#internshipExperience}}
                    <li class="no-break">
                        <p class="tags">{{company}}<br><span><strong>{{title}} | </strong><span>{{internshipType}}, {{internshipMode}},{{location}} - {{startDate}} to {{endDate}}</span></span></p>
                        <p><strong>Location:</strong> {{location}}</p>
                        <p>{{description}}</p>
                        <p><strong>Currently Working:</strong> {{currentlyWorking}}</p>
                        <p><strong>Stipend:</strong> ₹{{stipend}}</p>
                        <p><strong>Notice Period:</strong> {{noticePeriod}}</p>
                    </li>
                    {{/internshipExperience}}
                </ul>
            </div>
            
            <div class="card no-break">
                <p><i class="fas fa-graduation-cap stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Education</p>
                <ul>
                    {{#education}}
                    <li class="no-break"><p class="tags">{{degree}} in {{field}} | <span>{{graduationDate}}</span><br><span>{{education.school}}, {{location}} | CGPA: {{cgpa}} | Mode: {{educationMode}}  </span></p>
                    {{/education}}
                    
                </ul>
            </div>
            <div class="card no-break">
                <p><i class="fas fa-file stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Projects</p>
                <ul>
                    {{#projects}}
                    <li class="no-break">
                        <p class="tags">{{projects.name}}</p>
                        <p>{{projects.summary}}
                            <br><a href="{{projects.deployedLink}}"><b>Live Project</b> - {{projects.deployedLink}}</a>
                            <br><a href="{{githubLink}}"><b>GitHub</b> - {{githubLink}}</a></p>
                    </li>
                    {{/projects}}
                    
                </ul>
            </div>
            <div class="card pg-volunteering no-break">
                <p><i class="fas fa-users stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Volunteering</p>
                <ul>
                    {{#volunteering}}
                    <li><p class="tags">{{.}}</p>
                    {{/volunteering}}
                    
                </ul>
            </div>
            <div class="card no-break">
                 <p><i class="fas fa-award stroke-transparent"></i>&nbsp;&nbsp;&nbsp;Accomplishments</p>

                <ul>
                    {{#accomplishments}}
                    <li><span>{{.}}</span></li>
                    {{/accomplishments}}
                </ul>

            </div>
        </div>
    </div>
</body>
<script src="resume-template.js"></script>
</html>
