<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="temp.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>{{generalInfo.firstName}} {{generalInfo.lastName}}</h1>
    <p>Email: {{generalInfo.email}} | Phone: {{generalInfo.phone1}}</p>
    <p>Address: {{generalInfo.address}}, {{generalInfo.city}}, {{generalInfo.country}}{{generalInfo.pincode}}</p>
    <p>{{generalInfo.portfolio}}</p>
    <p>{{generalInfo.linkedin}}</p>
    <p>countryCode1 : {{generalInfo.countryCode1}}</p>
    <p>countryCode2 : {{generalInfo.countryCode2}}</p>
    <p>{{generalInfo.experience}}</p>
    <div class="section">
        <h2>Work Experience</h2>
        {{#workExperience}}
        <h3>{{company}}</h3>
        <p>{{location}} - {{industry}} ({{totalCompanyExperience}} years)</p>
        {{#roles}}
        <strong>{{title}}</strong> ({{jobType}}, {{jobMode}}) - {{startDate}} to {{endDate}}
        <p>{{description}}</p>
        {{/roles}}
        {{/workExperience}}
    </div>
    
    <div class="section">
        <h2>Education</h2>
        {{#education}}
        <h3>{{degree}} in {{field}}</h3>
        <p>{{education.school}}, {{location}} - Graduated: {{graduationDate}}</p>
        <p>CGPA: {{cgpa}} | Mode: {{educationMode}}</p>
        {{/education}}
    </div>
    
    <div class="section">
        <h2>Skills</h2>
        <div class="skills">
            {{#skills}}<span>{{name}} ({{level}}%)</span>{{/skills}}
        </div>
    </div>

    <div class="section">
        <h2>Internship</h2>
        {{#internshipExperience}}
        <h1>{{company}}</h1>
        <p>{{location}} - {{stipend}} - {{title}} - {{internshipMode}} - {{internshipType}}</p>
        <p>{{description}}</p>
        <p>{{currentlyWorking}} - {{startDate}} - {{endDate}}</p>
        <div>

        </div>
    </div>
    <div class="section">
        <h2>Languages</h2>
        <div class="languages">
            {{#languages}}<span>{{language}} ({{level}})</span>{{/languages}}
        </div>
    </div>
    
    <div class="section">
        <h2>Certifications</h2>
        <ul>
            {{#certifications}}<li>{{.}}</li>{{/certifications}}
        </ul>
    </div>
    
    <div class="section">
        <h2>Projects</h2>
        {{#projects}}
        <h3>{{projects.name}}</h3>
        <p>{{projects.summary}}</p>
        <p><a href="{{projects.deployedLink}}">Live Project</a> | <a href="{{githubLink}}">GitHub</a></p>
        {{/projects}}
    </div>
    
    <div class="section">
        <h2>References</h2>
        <p>{{reference.name}}, {{reference.company}}</p>
        <p>Contact: {{reference.contact}}</p>
    </div>
    
    <div class="section">
        <h2>Social Links</h2>
        <p>Instagram: {{socialLinks.instagram}} | Twitter: {{socialLinks.twitter}}</p>
        <p>Facebook: {{socialLinks.facebook}} | WhatsApp: {{socialLinks.whatsapp}}</p>
    </div>

    <div class="section">
        <h2>Accomplishments</h2>
        <ul>
            {{#accomplishments}}<li>{{.}}</li>{{/accomplishments}}
        </ul>
    </div>

    <div class="section">
        <h2>Interests</h2>
        <ul>
            {{#interests}}<li>{{.}}</li>{{/interests}}
        </ul>
    </div>

    <div class="section">
        <h2>softwareInfo</h2>
        {{#softwareInfo}}
        <h3>{{softwareInfo.rating}}</h3>
        <p>{{softwareInfo.rating}}</p>
        {{/softwareInfo}}
    </div>

    <div class="section">
        <h2>Volunteering</h2>
        <ul>
            {{#volunteering}}<li>{{.}}</li>{{/volunteering}}
        </ul>
    </div>
</body>
</html>