<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link href="try.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    {{#education}}
  <div class="section">
    <h2>Education</h2>
    <p><strong>{{degree}}</strong> at {{institute}} ({{startYear}} - {{endYear}})</p>
  </div>
{{/education}}

{{#workExperience}}
  <div class="section">
    <h2>Work Experience</h2>
    <p><strong>{{jobTitle}}</strong> at {{company}} ({{startDate}} - {{endDate}})</p>
    <p>{{description}}</p>
  </div>
{{/workExperience}}

{{#certifications}}
  <div class="section">
    <h2>Certifications</h2>
    <p>{{title}} - {{issuer}}</p>
  </div>
{{/certifications}}

<h2>General Info</h2>
<p>Name: {{name}}</p>
<p>Email: {{email}}</p>

</body>
</html>