<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="temp.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>{{generalInfo.firstName}} {{generalInfo.lastName}}</h1>
    <p>Email: {{generalInfo.email}} | Phone: {{generalInfo.phone1}}</p>
    <p>Address: {{generalInfo.address}}, {{generalInfo.city}}, {{generalInfo.country}}{{generalInfo.pincode}}</p>
    <p>{{generalInfo.portfolio}}</p>
    <p>{{generalInfo.linkedin}}</p>
    <p>countryCode1 : {{generalInfo.countryCode1}}</p>
    <p>countryCode2 : {{generalInfo.countryCode2}}</p>
    <p>{{generalInfo.experience}}</p>
</body>
</html>