* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

header p {
    text-align: center;
    padding-top: 1vh;
}

header img {
    height: 50vh;
    width: 50vh;
}

#content {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    padding-top: 2%;
}

#main-left {
    padding: 4vh;
    flex:25%;
}

#contact{
    line-height: 1.5;
    padding-bottom: 1vh;
}

#main-right {
    
    flex: 75%; 
}